
 <h1>
	 template Form:
</h1>
 <form>
	 nested value:
	<input [(ngModel)]="test.a" name="first.a">
	no nested value:
	<input [(ngModel)]="test2" name="first2">
	<input [(ngModel)]="test3" name="first3">
	<input [(ngModel)]="test4" name="first4">
	<select name="selectValue" [(ngModel)]="testForSelect">
		<option value="1">test</option>
		<option value="2">test2</option>
	</select>
	no name and standalone:
	<input [(ngModel)]="test5" name="contry" [ngModelOptions]="{standalone:true}">

	<button type="submit">test</button>
</form>  

