<div>
 no form case:
 <a routerLink='one'>jump to one</a>
</div>
<div>
Normal form case:
 <a routerLink='normal-form'>normal-form</a>
</div>
<div>
 React form case:
 <a routerLink='react-form'>react-form</a>
</div>
<router-outlet></router-outlet> 










