<h1>no Form:</h1>
<input [(ngModel)]="test" [ngModelOptions]="{standalone:true}">
test.
<input [(ngModel)]="noForm.a">
test.b
<input [(ngModel)]="noForm.b" [ngModelOptions]="{standalone:true}">
<button  >test</button>
